@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font-cordel: "Passion one", sans-serif;
    --font-01: Verdana, geneva, Tahoma, sans-serif;
    --font-cordel2: "Sriracha", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    background-color: darkgrey;
    min-height: 100%vh;
    font-family: var(--font-01);
}

header {
    color: white;
    background-color: black;
    text-align: center;
}

header h1 {
    font-family: var(--font-cordel);
    font-size: 10vw;
    padding: 50px 50px 0px 50px ;
    font-variant: small-caps;
}

header p {
padding-bottom: 50px;
}

header a, footer a {
color: white;
text-decoration: none;
}

header a:hover, footer a:hover {
text-decoration: underline;
}

section {
    font-family: var(--font-cordel2);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(67, 67, 67);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.256);
    display: inline-block;
    padding: 5px;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}